.pokemon-type-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.pokemon-type-button {
  color: #fff;
  border: 1px solid #111;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.pokemon-type-button.normal {
  background-color: #bdbdaf;
}

.pokemon-type-button.fighting {
  background-color: #bf5540;
}

.pokemon-type-button.flying {
  background-color: #62a5ff;
}

.pokemon-type-button.poison {
  background-color: #c05da6;
}

.pokemon-type-button.ground {
  background-color: #fbcf49;
}

.pokemon-type-button.rock {
  background-color: #d4bd6e;
}

.pokemon-type-button.bug {
  background-color: #bdd300;
}

.pokemon-type-button.ghost {
  background-color: #7d76db;
}

.pokemon-type-button.steel {
  background-color: #c5c2dc;
}

.pokemon-type-button.fire {
  background-color: #ff5540;
}

.pokemon-type-button.water {
  background-color: #00afff;
}

.pokemon-type-button.grass {
  background-color: #59d842;
}

.pokemon-type-button.electric {
  background-color: #ffe619;
}

.pokemon-type-button.psychic {
  background-color: #ff64b9;
}

.pokemon-type-button.ice {
  background-color: #52f1ff;
}

.pokemon-type-button.dragon {
  background-color: #9376ff;
}

.pokemon-type-button.dark {
  background-color: #9a6853;
}

.pokemon-type-button.fairy {
  background-color: #ffaeff;
}
