.pokemon-type-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.pokemon-type-button {
  color: #fff;
  border: 1px solid #111;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

[color="1"] {
  background-color: #bdbdaf;
}

[color="2"] {
  background-color: #bf5540;
}

[color="3"] {
  background-color: #62a5ff;
}

[color="4"] {
  background-color: #c05da6;
}

[color="5"] {
  background-color: #fbcf49;
}

[color="6"] {
  background-color: #d4bd6e;
}

[color="7"] {
  background-color: #bdd300;
}

[color="8"] {
  background-color: #7d76db;
}

[color="9"] {
  background-color: #c5c2dc;
}

[color="10"] {
  background-color: #ff5540;
}

[color="11"] {
  background-color: #00afff;
}

[color="12"] {
  background-color: #59d842;
}

[color="13"] {
  background-color: #ffe619;
}

[color="14"] {
  background-color: #ff64b9;
}

[color="15"] {
  background-color: #52f1ff;
}

[color="16"] {
  background-color: #9376ff;
}

[color="17"] {
  background-color: #9a6853;
}

[color="18"] {
  background-color: #ffaeff;
}
