.searchbar-wrapper {
  background-color: #bd0505;
  border-radius: 13px;
  border: 1px solid #ffdf00;
  height: 35px;
  width: 300px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  align-self: center;
}

.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  color: #ffdf00;
  background-color: #bd0505;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 20px;
}

.icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

::placeholder {
  color: #ffdf00;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .searchbar-wrapper {
    height: 35px;
    width: 150px;
  }
}
